
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-book-open:before { content: '\e805'; } /* '' */
.icon-down-bold:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
